.body{background-image:url("https://thumbs.dreamstime.com/b/fundo-de-fluxo-colorido-com-textura-crayon-bg-din%C3%A2mico-vetor-gradiente-162425566.jpg");background-position: center;background-size:cover;}
h1{font-size: 50px;color:cadetblue ;}
canvas{background-color: beige;border-radius: 10px;}
button{background-color:greenyellow}
body{cursor: pointer;}